@{
    ViewBag.Title = "Админская панель";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Секции</h1>
        </div>
        <div class="panel-body">
            <p>@Html.ActionLink("Работы", "Products", "Admin", new { @class = "btn btn-success" })</p>
            <p>@Html.ActionLink("Блог", "BlogPosts", "Admin", new { @class = "btn btn-success" })</p>
        </div>
    </div>
</div>